@font-face {
	font-family:'Raleway-Regular', Arial, Helvetica, sans-serif;
	src:url(../fonts/Raleway/Raleway-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:'Raleway-Medium', Arial, Helvetica, sans-serif;
	src:url(../fonts/Raleway/Raleway-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family:'Raleway-SemiBold', Arial, Helvetica, sans-serif;
	src:url(../fonts/Raleway/Raleway-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:'Raleway-SemiBold', Arial, Helvetica, sans-serif;
	src:url(../fonts/Raleway/Raleway-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'Raleway-SemiBold', Arial, Helvetica, sans-serif;
	src:url(../fonts/Raleway/Raleway-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'Montserrat-Regular', Arial, Helvetica, sans-serif;
	src:url(../fonts/Montserrat/Montserrat-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:'Montserrat-ExtraLight', Arial, Helvetica, sans-serif;
	src:url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family:'Montserrat-Light', Arial, Helvetica, sans-serif;
	src:url(../fonts/Montserrat/Montserrat-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family:'Montserrat-Light', Arial, Helvetica, sans-serif;
	src:url(../fonts/Montserrat/Montserrat-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family:'Roboto-Regular', Arial, Helvetica, sans-serif;
	src:url(../fonts/Roboto/Roboto-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}