/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300');*/

* {
	margin: 0;
	padding: 0;
}
body{
	width: 1920px;
	font-family: "Montserrat-ExtraLight", Arial, Helvetica, sans-serif;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}

/*Start Header*/
.main-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	z-index: 100;
	width: 1230px;
	justify-content: space-between;
	top: 40px;
	left: 376px;
}
.main-header a{
	text-decoration: none;
}
.logo_icon{
	fill: #fff;
	font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
	font-size: 36px;
	width: 200px;
	height: 100%;
}
.logo_icon:hover{
	fill: #c7b29a;
}
.logo_icon:active{
	fill: #997A56;
}

.main-nav-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 17px 65px 0 0;
}
.main-nav-menu, .dop-nav-menu{
	display: inherit;
	list-style-type: none;
}
.main-nav-menu_item{
	margin-right: 30px;
}
.main-nav-menu_item a{
	margin: 0;
	text-decoration: none;
	color:  #ffffff;
	font-size: 14px;
	text-align: left;
	font-family: "Montserrat-Light", Arial, Helvetica, sans-serif;
}
.main-nav-menu_item a:hover{
	color:  #c7b29a;
	font-size: 14px;
	font-weight: 300;
}
.main-nav-menu_item a:active{
	color:  #997A56;
	font-size: 14px;
	font-weight: 300;
}
.dop-nav-menu{
	margin-left: 30px;
}
.dop-nav-menu_item a{
	font-size: 24px;
	color: #fff;
}
.dop-nav-menu_item:first-child{
	margin-right: 30px;
}
.dop-nav-menu_item a:hover{
	color:  #c7b29a;
	font-size: 24px;
	font-weight: 300;
}
.dop-nav-menu_item a:active{
	color:  #997A56;
	font-size: 24px;
	font-weight: 300;
}
/*End Header*/

/*Start section servises*/
.servises{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 1230px;
	justify-content: center;
	margin: auto;
	margin-bottom: 160px;
	margin-top: 88px;
}

.servises-item{
	text-align: center;
	padding: 0 10px 0 10px;
}

.servises-item:hover .servises-icon{
	fill: #c7b299;
}
.servises-item:hover .servises-item-content h4{
	color: #c7b299;
}
.servises-item:hover .servises-item-content:after{
	background-color: #c7b299;
}

.servises-item:active .servises-icon{
	fill: #8C6F4E;
}
.servises-item:active .servises-item-content h4{
	color: #8C6F4E;
}
.servises-item:active .servises-item-content:after{
	background-color: #8C6F4E;
}

.servises-icon{
	fill: #555555;
	margin-bottom: 20px;
}
.servises-item-content{
	display: block;
	position: relative;
	margin-bottom: 28px;
	text-decoration: none;
}
.servises-item-content:after{
	content: "";
	position: absolute;
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
	bottom: -15%;
	left: 40%;
}
.servises-item h4{
	color:  #555555;
	font-size: 22px;
	font-weight: 600;
	font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
	margin-bottom: 12px;

}

.servises-item p{
	color:  #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	font-family: "Montserrat-Light", Arial, Helvetica, sans-serif;
}
/*End section servises*/

/*Start section waxom*/
.waxom{
	text-align: center;
}
.waxom-content h2{
	color:  #555555;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 16px;
}
.waxom-content p{
	padding: 0 30%;
	color:  #8c8c8c;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	margin-bottom: 30px;
}
.waxom-content img{
	display: block;
	margin: 0 auto;
}
.waxom-aside{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 50px 19.5%;
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.waxom-aside-content h4{
	color:  #ffffff;
	font-size: 28px;
	font-weight: 400;
}
.waxom-aside-content span{
	color:  #c7b299;
}
.waxom-aside-content p{
	color:  #615855;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}
.waxom-aside a{
	font-family: "Raleway-ExtraBold", Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	background-color:  #998675;
	padding: 15px 26px 13px 26px;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;
	border-bottom: 3px solid #7B6A5B;
}
.waxom-aside a:hover{
	color:  #ffffff;
	background-color:  #615855;
}
.waxom-aside a:active{
	background-color:  #998675;
	border-bottom: 3px solid #998675;
}
/*End section waxom*/